name: Deploy Pixs frontend & backend containerized1
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: self-hosted
    steps:
      - name: Checkout frontend repo
        uses: actions/checkout@v3
        with:
          repository: se-pixs/frontend
          path: ./
      - name: Build frontend using Docker
        run: |
          pwd
          docker build . -t frontend:latest
          pwd
      - name: Checkout backend repo
        uses: actions/checkout@v3
        with:
          repository: se-pixs/backend
          path: ./backend
      - name: Build backend using Docker
        run: |
          pwd
          docker build . -t backend:latest
          docker-compose up -d
