name: Deploy Pixs frontend & backend containerized
on: [push, workflow_call]

  
jobs:
    Deploy-pixs-on-docker-host:
      runs-on: self-hosted
      steps:
        - name: Terminate & delete running containers
          run: |
            docker stop pixs-backend pixs-frontend
            docker rm pixs-backend pixs-frontend
            docker volume prune -f
        - name: Checkout frontend repo
          uses: actions/checkout@v3
          if: always()
          with:
            ref: deploy
            fetch-depth: 0
            repository: se-pixs/frontend
            path: ./
        - name: Build frontend using Docker
          if: always()
          run: |
            pwd
            docker build . -t frontend:latest
            pwd
        - name: Checkout backend repo
          uses: actions/checkout@v3
          if: always()
          with:
            repository: se-pixs/backend
            ref: deploy
            path: ./backend
        - name: Build backend using Docker
          if: always()
          run: |
            pwd
            cd ./backend
            pwd
            docker build . -t backend:latest
            docker-compose up -d
        - name: Clean up docker host
          if: always()
          run: |
            docker system prune -f
            rm -rf ../../../frontend

