name: Deploy to server

on:
  push:
    branches: [setup/deploy]

jobs:
  build:
    runs-on: pixs-runner
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.2
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      # - name: Copy to server via SCP
      #   uses: appleboy/scp-action@master
      #   with:
      #     host: ${{ secrets.HOST }}
      #     username: ${{ secrets.USERNAME }}
      #     key: ${{ secrets.PRIVATEKEY }}
      #     source: .
      #     target: app
      #     debug: true
      #     rm: true
